#navBar  {
	color: blue;
	border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
	font-family: 'Alegreya', serif;
	font-size: 115%;
	}

#navBar > li > a:link {
	color:#1f5f84;
	font-family: 'Alegreya', serif;
}

#navBar > li > a:hover {
	color: #1f5f84;
	font-family: 'Alegreya', serif;
}

#navBar > li > a:visited {
	color:white !important;
	font-family: 'Alegreya', serif;
}

#navBar > li > a:active {
	color: #1f5f84 !important;
	font-family: 'Alegreya', serif;
}

a:link {
	color:#1f5f84 !important;
}
a:hover{
	color: #1f5f84;
	}
a:visited {
	color:white !important;
}
a:active {	
	color: #1f5f84;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color:white !important;
    background-color:#1f5f84;
    }
.nav-pills > li  > a:hover {
	color: white !important;
	background-color:#1f5f84 !important;
}

.nav-pills > li.active  > a:hover {
	color:white !important;
	background-color:#1f5f84 !important;
}

#btn-custom {
  background-color: hsl(202,62%,32%) !important;
  background-repeat: repeat-x;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
  font-family: 'Alegreya', serif;
  font-size: 120%;
}
#btn-custom:hover, #btn-custom:focus, #btn-custom:active, #btn-custom.active, .open>.dropdown-toggle.#btn-custom {
	color: white !important;
	background-color:  #0f2d3e !important;
}

#regPara {
	color: white;
	font-family: 'Alegreya', serif;
	font-size: 150%;
	text-align: left;
}
#link-color {
  color: #84c2e1 !important;
}
body {
  background: url("../images/jackiebackgroundcolorcorrected.jpg") no-repeat center center fixed;
  height: auto;
  font-family: 'Gentium Basic', serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#tabbedPara {
	padding-left:1em;
	color: white;
	font-family: 'Alegreya', serif;
	font-size: 150%;
	text-align: left;
}

#h2er {
	color: white;
	font-size: 200%;
	font-family: 'Philosopher', sans-serif;
	font-style: italic;
}

#padded-img {
	  padding-bottom: 50px;
}
.jumbotron {
  box-shadow: 5px 0 5px 5px white;
  background: rgba(31, 95, 132, 0.5); 
  z-index: 99;
  color: white;
}

.center-wrap {
  text-align: center;
  margin: auto;
  size: inherit;
  display: inline-block;
}

.row-right {
  text-align: right;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
}

h1 {
  font-size: 700%;
  color: white;
  text-shadow: 10px 10px 10px black;
  font-family: 'Alegreya', serif;
  
}

h2 {
  font-size: 200%;
  text-shadow: 10px 10px 10px black;
  font-family: 'La Belle Aurore', cursive;
  padding-bottom: 50px;
}

h3 {
  font-size: 300%;
  font-weight: bold;
  padding-bottom: 30px;
  font-family: 'Alegreya', serif;
}

.opacity {
  opacity: 1.0;
  z-index 100;
}

.box-shadow {
  box-shadow: 5px 0 10px 5px black;
}

.custom-font {
  font-size: 500%;
  font-family: 'La Belle Aurore', cursive;
}

.shadow-text {
  text-shadow: 10px 10px 10px black;
}

.white-text {
  color: white
}

.white-border {
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

